<mat-toolbar-row>
  <button
    mat-icon-button
    href="https://es-la.facebook.com/"
    class="bg-red-600 text-white rounded-full w-9 h-9"
  >
    <mat-icon>facebook</mat-icon>
  </button>
  <button
    mat-icon-button
    href="https://www.instagram.com/?hl=es"
    class="bg-red-600 text-white rounded-full w-9 h-9"
  >
    <mat-icon>instagram</mat-icon>
  </button>
  <button
    mat-icon-button
    href="https://twitter.com/i/flow/login"
    class="bg-red-600 text-white rounded-full w-9 h-9"
  >
    <mat-icon>twitter</mat-icon>
  </button>
</mat-toolbar-row>
