<mat-toolbar-row>
  <button
    mat-icon-button
    onclick ="window.open('https://es-la.facebook.com/')"
    class="bg-red-600 text-white rounded-full w-9 h-9"
  >
    <mat-icon>facebook</mat-icon>
  </button>
  <button
    mat-icon-button
    onclick ="window.open('https://www.instagram.com/?hl=es.com/')"
    class="bg-red-600 text-white rounded-full w-9 h-9"
  >
    <mat-icon>camera_enhance</mat-icon>
  </button>
  <button
    mat-icon-button
    onclick ="window.open('https://twitter.com/i/flow/login')"
    class="bg-red-600 text-white rounded-full w-9 h-9"
  >
    <mat-icon>Twitter</mat-icon>
  </button>
</mat-toolbar-row>
